<section class="mt-4">
  <div class="container-fluid">
    <nb-card>
      <nb-card-header>
        <div class="d-flex space_between align_center">
          <p class="text_align_center font_34">Order List</p>
       
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="d-flex justify_end">
          <div>
            <p-iconField iconPosition="left" class="ml-auto">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input
                pInputText
                type="text"
                placeholder="Search By Name"
                [(ngModel)]="search_string"
                (input)="get(1)"
              />
            </p-iconField>
          </div>
        </div>
        <p-table
          [value]="data"
          [paginator]="true"
          [rows]="rows"
          showGridlines
          [totalRecords]="totalRecords"
          [lazy]="true"
          (onPage)="onPageChange($event)"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          styleClass="p-datatable-striped"
          [tableStyle]="{ 'margin-top': '10px' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Sno</th>
              <th>User</th>

              <th>Amount</th>
              <th>Location</th>
              <th>Date</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ data?.user_id.email }}</td>

              <td>Rs {{ data.net_price }}</td>
              <td>
                {{ data.shipping_address.pincode }}
              </td>
              <td>{{ data?.createdAt | date : "short" }}</td>
            </tr>
          </ng-template>
        </p-table>
      </nb-card-body>
    </nb-card>
  </div>
</section>

<p-toast key="delete_toast" position="top-center" (onClose)="onReject()">
  <ng-template let-message pTemplate="headless" let-closeFn="closeFn">
    <div
      class="flex flex-column align-items-start p-4 bg_delete border_radius_10"
      style="flex: 1; justify-content: center"
    >
      <div class="fw_700 my-3 text-center">
        This action cannot be reverted. Do you still want to proceed ?
      </div>
      <div class="d-flex gap-3 align_center justify_center">
        <p-button
          size="small"
          label="Delete"
          severity="warn"
          (click)="delete()"
        />
        <p-button
          size="small"
          label="Cancel"
          severity="contrast"
          (onClick)="closeFn($event)"
        />
      </div>
    </div>
  </ng-template>
</p-toast>
